html{
    box-sizing: border-box;
}

header{
    background: #9BB7D4;
    color: #000000;
    font-family: 'Xanh Mono';
    margin-top: 10px;
    border-radius:5px;
    font-size: 25px;
    text-shadow: 2px 2px white;
    padding: 5px;
  }

body{
  
    background: darkred ;
    color: rgba(17, 16, 16, 0.91);
    font-family:'IBM Plex Sans', sans-serif;
   
}
   
/*+++++++++++++++++++++++ this is the navigation bar +++++++++++++++++++++++*/

.Logo {
  border-radius: 10px;
  margin: 11px;
  float: left;
  border: solid 2px darkgray;
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-play-state: paused;
}

.Logo:hover {
  animation-play-state: running;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*=------ banner /navbar ------=*/

.banner {
  border: solid 6px black;
  border-top-color: rgb(11, 221, 11);
  border-left-color: yellow;
  border-right-color: yellow;
  border-bottom-color: red;
  border-radius: 10px;
  background-color: #000000;
    padding: 11px;
    background-size: cover;
    background-position: center;
}
.navbar {
  text-align: center;
  font-size: 15px;
  text-shadow: 2px 2px #9bb7d4;
  align-items: center;
}
  .navbar ol li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ol li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ol li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}

.navbar ol li:hover::after {
    width: 100%;
}

/* +++++++++++++++++++++++ add a transparency effect  */
.container {
 margin: auto;
  width: 60%;
  height: 50%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin-top: 25px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  background:  radial-gradient(crimson, skyblue);
  background-size: cover;
  cursor: pointer;
  position:absolute;
  padding: 25px 25px;
  color: blue;
  font-weight: bold;
  top:495px;
  text-shadow: 2px 3px #009688;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: nones
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 5px 5px 5px 5px;
}
.prev {
  left: 0;
  border-radius: 5px 5px 5px 5px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background: linear-gradient(45deg, gray, black, gray, black, gray, black, transparent);
    border: solid 0.3rem grey;
    border-radius: 2.5px;
    animation: gradient 15s;
  font-size: 12px;
  padding: 8px 6px;
  position: relative;
  top: 0;
}


/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row{
  background-color: whitesmoke;
  border: radius 2px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  background-color: #222;
}

  #caption{
    margin: 5px;
    font-size: 14px;
  }

/* Six columns side by side */
.column {
  margin-top: 3.5px;
  float: left;
  width: 5%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/*+++++++++++++++++++++++ created a dubsection for for a synopysis ++++++++++++++++*/
.content-wrap{
  border: 9px;
  padding: 5px;
  color: #f7f5f5;
  font-family: ui-sans-serif;
  background: #9BB7D4;
  font-size: 18px;
  text-align: center;
  text-shadow: 2px 2px black;
}
.responsive {
  width: 100%;
  height: auto;
}
img {
  
  vertical-align: middle;
}

.paragraph-wrap{
  padding: 11px;
  margin-top: 3rem;
  border: 4mm ridge rgb(229 237 80 / 82%);
  border-radius: 8px;
    background-color: rgb(2 2 2 / 95%);
    font-size: 25px;
    color: whitesmoke;
    font-family: 'Xanh Mono';
    font-style: oblique;

}
.Summary{
  border-radius: 15px;
  padding: 10px;
}
/*+++++++++++++++++++++++ FOOTER / CONTACT INFO +++++++++++++++++*/
footer {
  border-block: 1rem solid;
  writing-mode: horizontal-tb;
  direction: rtl;
  border-radius: 10px;
    color: #030303;
    }
    .contact-list-wrap {
    list-style-type: none;
    padding: 0;
    text-align: center;
    text-shadow: 2px 2px black;
    }
    ul{
      list-style-type: none;
    }
    li{
      list-style-type: none;
    }
    .contact-list a {
    list-style-type: none;
    padding: 5px;
    }
   

    /*========================= CopyReserve ++++++++++++++++++++++++++++++++++*/

    .siteFooterBar {
      
      bottom: 0;
      margin-top: 10px;
      width: 100%;
      border-: 10px solid black;
      border-radius: 5px;
      box-shadow: 0px 0px 25px rgb(207, 207, 207);
      height: 78px;
      color: #9B9B9B;
      background: #F3F3F3;
  }
  
  .content {
      display: block;
      padding: 10px;
      margin: 0px auto;
      text-align: center;
      font: 25px Georgia, "Times New Roman", Times, serif;
      font-size: 14px;
      font-style:oblique 19deg;
      width:250px;
  }
  .foot {
   display:inline;
      line-height: 70px;
  }
  .content img {
    height: 55px;
    width: 55px;
    float: left;
  }















    /* ------------------------------------ Responsive ---------------- */

    @media screen and (min-width: 780px) {

    header, footer {
        text-align: center;
    }
  
    
    .contact-list {
        display: flex;
        justify-content: center;
    }
    .contact-list a {
        padding: 15px;
    }

    /*++++++++++++++++++ colums side by side +++++++++++++++++++*/

    .column {
      float: left;
      width: 5%;
    }
    
    .demo {
      opacity: 0.6;
    }
    
    .active,
    .demo:hover {
      opacity: 1;
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
      background-color: #222;
    }
    
    
    .Logo {
      height: 90px;
    width: 90px;
      border-radius: 10px;
      margin: 13px;
      float:left;
      border: solid 2px darkgray;
      animation-name: rotate;
      animation-duration: 0.7s;
      animation-iteration-count: 1;
      animation-play-state: paused;
    }
    
    .Logo:hover {
      animation-play-state: running;
    }
    

    .banner {
      background-color: #000000;
        background-size: cover;
        background-position: center;
    }
    .navbar {
      text-align: center;
      font-size: 25px;
      text-shadow: 2px 2px #9bb7d4;
      align-items: center;
    }
      .navbar ol li {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
    
    .navbar ol li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    
    .navbar ol li::after {
        content: '';
        height: 3px;
        width: 0;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    
    .navbar ol li:hover::after {
        width: 100%;
    }
    
    /* +++++++++++++++++++++++ add a transparency effect  */
    .container {
      position: relative;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
      cursor: pointer;
    }
  
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    
    
/* Next & previous buttons */
  .prev,
  .next {
    background: radial-gradient(crimson, skyblue);
    background-size: cover;
    cursor: pointer;
    position:absolute;
    padding: 25px 25px;
    color: blue;
    font-weight: bold;
    top:300px;
    text-shadow: 2px 3px #009688;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: nones
  }

    /* Position the "next button" to the right */
    .next {
      right: -80px;
      border-radius: 5px 5px 5px 5px;
    }
    .prev {
      left: -80px;
      border-radius: 5px 5px 5px 5px;
    }
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      background: linear-gradient(45deg, gray, black, gray, black, gray, black, transparent);
        border: solid 0.3rem grey;
        animation: gradient 15s;
      font-size: 12px;
      padding: 8px 6px;
      position: relative;
      top: 0;
    }
    
    
    /* Container for image text */
    .caption-container {
      text-align: center;
      background-color: #222;
      padding: 2px 16px;
      color: white;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
      background-color: #222;
    }
    
    /* Six columns side by side */
    .column {
      float: left;
      width: 5%;
    }
    
    .demo {
      opacity: 0.6;
    }
    
    .active,
    .demo:hover {
      opacity: 1;
    }
    #caption{
      margin: 9px;
      font-size: 20px;
    }
    
    

/*+++++++++++++++++++++++ created a dubsection for for a synopysis ++++++++++++++++*/

    .content-wrap{
      border: 9px;
      padding: 5px;
      color: #f7f5f5;
      background: #9BB7D4;
      font-family: 'IBM Plex Sans';
      font-style: normal;
      text-shadow: 3px 1px black;
      font-size: 25px;
  }
  .responsive {
    width: 100%;
    height: auto;
  }
  img {
    float: left;
    margin-right: 50px;
    vertical-align: middle;
  }
  
  .paragraph-wrap{
    padding: 11px;
    border: 4mm ridge rgb(229 237 80 / 82%);
      background-color: rgb(2 2 2 / 95%);
      font-size: 25px;
      color: whitesmoke;
      font-family: 'Xanh Mono';
      font-style: oblique;
  
  }
  .Summary{
    border-radius: 15px;
    padding: 10px;
  }
  /*+++++++++++++++++++++++ FOOTER / CONTACT INFO +++++++++++++++++*/
  footer {
    border-block: 1rem solid;
writing-mode: horizontal-tb;
direction: rtl;
      background: #0f0f0f;
      color: rgb(7, 4, 4);
      }
      .contact-list-wrap {
        list-style-type: none;
        padding: 0;
        display: flex;
        text-shadow: 2px 2px black;
        }
        ul{
          list-style-type: none;
        }
        li{
          list-style-type: none;
        }
        .contact-list a {
          list-style-type: none;
          padding: 5px;
          display: inline-block;
          }
  /* =================================== CopyRight Reserve+++++++++++++++++++++++++++++++++++++++++++++*/

  .siteFooterBar {
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    box-shadow: 0px 0px 25px rgb(207, 207, 207);
    height: 78px;
    color: #9B9B9B;
    background: #F3F3F3;
}

  .content {
    display: block;
    padding: 10px;
    margin: auto;
    text-align: center;
    font: 25px Georgia;
    font-size: 14px;
    width: 280px;
  }
.foot {
 display:inline;
    line-height: 70px;
}
.content img {
  height: 55px;
  width: 55px;
  float: left;
}
}    
    @media screen and (max-width: 290px) {
    h1 {
        font-size: 60px;
        line-height: 0.9;
        
    }
    h2 {
      font-family: 'Caveat';
        line-height: 1;
    }
  }