/* +++++++++++++++++++++++++++ THIS IS THE CSS BACKGROUND +++++++++++++++++++++*/

header{
    background: transparent;
    color: #000000;
    font-family: 'Xanh Mono';
    font-size: 25px;
    text-shadow: 2px 2px khaki;
    text-align: center;
    padding: 15px;
  }
body {
    background: linear-gradient(-45deg, #f01809, #e50f0f, #bff10b, #46f312);
    background-size: 400% 400%;
     animation: gradient 15s cubic-bezier(0.38, 0.32, 0.76, 0.78) infinite;
}

footer{
  border-radius: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* +++++++++++++++++++++++++++ THE NAVBAR / LOGO +++++++++++++++++++++*/


.Logo2 {
    height:60px;
    width: 60px;
    border-radius: 10px;
    margin: 11px;
    float: left;
    border: solid 2px darkgray;
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-play-state: paused;
  }
  
  .Logo2:hover {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.Banner2 {
    background-color: #0c0c0cf2;
      padding: 10px;
      background-size: cover;
      background-position: center;
  }
  .navbar2 {
    padding: 5px;
    font-size: 17px;
    text-shadow: 1px 1px #ecedee;
    align-items: center;
  }
    .navbar2 ol li {
      list-style: none;
      display: inline-block;
      margin: 0 20px;
      position: relative;
  }
  
  .navbar2 ol li a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
  }
  
  .navbar2 ol li::after {
    content: '';
    height: 2.5px;
    width: 0;
    background: #21af34;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}
  .navbar2 ol li:hover::after {
      width: 100%;
  }

/*++++++++++++++++++++++++++++CURRENTEVENTS +++++++++++++++++++++++++++++*/
.CurrentEvents{
  color: #080808;
  font-size: 20px;
  font-family: 'Xanh Mono';
  font-style: italic;
}

.FutureEvents{
  color: #080808;
  font-size: 20px;
  font-family: 'Xanh Mono';
  font-style: italic;
}

.LocationandTime{
  background-color: transparent;
}
/* ++++++++++++++++++++++++++++++ COPYRIGHT ++++++++++++++++++++++++++*/ 


.siteFooterBar {
    bottom: 0;
    margin-top: 19px;
    padding-top: 10px;
    width: 100%;
    box-shadow: 0px 0px 25px rgb(207, 207, 207);
    height: 78px;
    color: #9B9B9B;
    background: #F3F3F3;
  } 

 .contactBlock.infoBlock{
  column-count: 2;
 }
   .content {
    display: block;
    padding: 10px;
    margin: auto;
    text-align: center;
    font: 25px Georgia;
    font-size: 14px;
    width: 280px;
  }
    .foot {
    display:inline;
        line-height: 70px;
    }
    .content img {
    height: 45px;
    width: 45px;
    float: left;
    border-radius: 47px 47px 40px 40px;
    } 

/*===================================
Contact Us =========================*/

   .contactBlock .infoWrap {
      max-width: 500px;
      height: 500px;
      padding: 0 50px;
  }


 .contactBlock.infoBlock {
  position: relative;
  color: #000;
  background: white;
  font-size: 30px;
    font-style: oblique;
}

  .contactBlock.title {
    vertical-align: baseline;
    font-size: 45px !important;
    font-family: "Montserrat";
    font-weight: 500 !important;
    letter-spacing: 0.2em;
    box-sizing: border-box;
  }
 

* {
  -webkit-tap-highlight-color: transparent;
}


/* ++++++++++++++++++++++++++++++
Contact US +++++++++++++++++++++*/


.contactBlock.infoBlock {
  position: static;
  height: 100%;
  list-style-type: none;
}


.contactBlock.inforBlock.infoWrap .title{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 500px;
  position: relative;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 40px auto;
  height: auto;
}

/*+++++++++++++++++++++++++++++++++++++++++ Telephone Logos +++++++++++++++++++++++++*/

.contactBlock.infoBlock ul li.phone:before {
  background: url(../Images_1/contact_call.svg) no-repeat center;
  background-size: contain;
  width: 22px;
  list-style-type: none;
  height: 22px;
}
 .contactBlock.infoBlock ul li:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  margin-right: 15px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++
@ Logo For Email +++++++++++++++++++++++++++++++*/
.contactBlock.infoBlock ul li a {
  font-size: 15px;
  color: #000;
  margin-top: 20px;
  list-style: none;
  vertical-align: middle;
  width: calc(100% - 40px);
}


.contactBlock.infoBlock ul li.mail:before {
  background: url(../Images_1/contact_mail.svg) no-repeat center;
  list-style-type: none;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.contactBlock.infoBlock ul li:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  margin-right: 15px;
}

/* ++++++++++++++++++++ Location and Address +++++++++++++++++++++++++++++++*/

.contactBlock.infoBlock ul li.adr:before {
  content: '';
  list-style-type: none;
  background: url(../Images_1/contact_location.svg) no-repeat center;
  background-size: contain;
  width: 21px;
  height: 27px;
}
.contactBlock.infoBlock ul li:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  margin-right: 15px;
}

.contantBlock.infoBlock{
  position: relative;
      font-size: 18px;
      color: #000;
      font-family: sans-serif;
      display: inline-block;
    }
  
/*++================================PITCHBLOCK++++++++++++++++++++++==*/

.contactBlock.pitchBlock { 
  background:white;
 }
 
 .contactBlock{
  width:100%;
  height: auto;
  display: block;
  position: relative;
  zoom: 1;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

div{
  margin: 0;
    padding: 0;
    border-radius: 10px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.contactBlock.pitchBlock .text input {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}

 .contactWrap .contactBlock {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  _height: 15px;
  vertical-align: top;
  height: 100%;
  width: 33.33%;
  font-size: 0;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
THE NAME INPUT TEXT ++++++++++++++++++++++++++++++++++++++++++*/

.contactBlock.pitchBlock .text .cFormInput[data-target="contactNameInpt"]:after {
  opacity: 1;
  text-decoration: dashed;
}

.contactBlock.pitchBlock .text .cFormInput[data-target="contactNameInpt"]{
  content: 'your name';
}

.contactBlock.pitchBlock .text .cFormInput:after {
  position: absolute;
  left: 0;
  font-size: 14px;
  color: #54bd80;
  font-family: "Montserrat", sans-serif;
  transition: all ease .3s;

}
.contactBlock.pitchBlock .text .cFormInput.typing[data-target="contactNameInpt"] {
  min-width: 10px;
}

.contactBlock.pitchBlock .text .cFormInput[data-target="contactNameInpt"] {
  min-width: 75px;
}

.contactBlock.pitchBlock .text {
  margin-top: 25px;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.contactWrap .contactBlock {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  _height: 15px;
  vertical-align: top;
  height: 100%;
  width: 33.33%;
  font-size: 0;
}


/*____________________________________________________________ Input Text For Email address++++++++++++++++++=+=====*/

.contactBlock.pitchBlock .text .cFormInput[data-target="contactMailInpt"]:after {
  opacity: 0;
}

.contactBlock.pitchBlock .text .cFormInput[data-target="contactMailInpt"]:after {
  content: 'your e-mail';
}

.contactBlock.pitchBlock .text .cFormInput.typing[data-target="contactMailInpt"]{
  min-width: 10px;
}

.contactBlock.pitchBlock .text .cFormInput[data-target="contactMailInpt"] {
  min-width: 80px;
}


/*=========================================================
text project for Input box ==================================*/

.contactBlock.pitchBlock .text .cFormInput[data-target="contactProjectInpt"]::after {
  opacity: 0;
  }

.contactBlock.pitchBlock .text .cFormInput[data-target="contactProjectInpt"]:after {
  content: 'this subject';
}

.contactBlock.pitchBlock .text .cFormInput.typing[data-target="contactProjectInpt"] {
  min-width: 10px;
}

.contactBlock.pitchBlock .text .cFormInput[data-target="contactProjectInpt"] {
  min-width: 85px;
}


/*=========================================================
text Style for Input box ==================================*/

.contactBlock.pitchBlock .text .cFormInput {
  display: inline-block;
  position: relative;
  max-width: 240px;
  margin: 1.5px;
  border: 1px solid black;
  border-radius: 4px 4px 4px 4px ;
  vertical-align: top;
  font-size: 14px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  -webkit-user-modify: read-write;
  -moz-user-modify: read-write;
  user-modify: read-write;
  word-wrap: break-word;
  outline: none;
  white-space: wrap;
  opacity: 1;
  
}

/*===========================================================__ SEND BUTTON +++++++++++++++++++++++++++++++++++++++++++++*/ 

.contactBlock.pitchBlock .gradButton {
  cursor: pointer;
  outline: none;
  display: block;
  margin-top: 40px;
  border-radius: 20px;
  border: 0;
  box-shadow: none;
  width: 100px;
  height: 35px;
  font-size: 12px;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: linear-gradient(to right, #13f1b2 0%, #68d800 100%);
}

 .contactBlock.pitchBlock .gradButton {
  margin-top: 10px;
}
/*++++++++++++++++++++++++++++++++++++++++++++
Gallery base Gallery Styles =========================================*/

.gallery {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: 1rem;
}

.gallery img {
  display: block;
  width: 100%;
}


/*===============================
Base Figure display sttles ==========================*/



.gallery figure {
  --gallery-height: 15rem;

  /* reset figure default margin */
  margin: 0;
  height: var(--gallery-height);
  background-color: hsl(200, 85%, 2%);
}

/*===============================
image display styles ==========================*/

.gallery img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: var(--gallery-height);
}

/*===============================
use aspect-ratio with @supports ==========================*/

/* Add aspect-ratio custom property */
.gallery figure {
  --gallery-aspect-ratio: 4/3;
}

@supports (aspect-ratio: 1) {
  .gallery figure,
  .gallery img {
    aspect-ratio: var(--gallery-aspect-ratio);
    /* Remove height to prevent distorting aspect-ratio */
    height: auto;
  }
}


/*===============================
Styles to position the figcation ==========================*/

.gallery figure {
  /* ...existing styles */

  display: grid;
  grid-template-areas: "card";
  place-items: end;
  border-radius: 0.5rem;
  overflow: hidden;
}

.gallery figure > * {
  grid-area: card;
}

.gallery figcaption {
  transform: translateY(100%);
}

/*===============================
Style and animate the figcaption ==========================*/

.gallery figcaption {
  transform: translateY(100%);
  transition: transform 800ms ease-in;

  /* Visual styles for the caption */
  padding: 0.25em 0.5em;
  border-radius: 4px 0 0 0;
  background-color: hsl(0 0% 100% / 87%);
}

.gallery figure:hover figcaption {
  transform: translateY(0);
}


/*++++++++++++++++++++++++++++++++++++++++++++
Gallery Join our newsletter
=========================================*/



.promo--centered {
  display: grid;
  justify-items: center;
 
}

.promo {
  background-color: #8ebae7;
  border-style: solid;
  border-radius: 10px;
  border-width: 7.5px;
  margin: 5.5vh auto;
  padding: 1.5rem 1.5rem;
  text-align: center;
  width: min(var(--promo-width,40rem),100%);
}



::marker {
  color: var(--color-primary);
}

form{
  grid-gap: 1rem;
  display: grid;
  justify-items: start;
  margin-top:1.1rem;
}
 .Sentence{
  font-size: 17px;
  font-family: 'Times New Roman';
  
 }

/*====================================================Gallery Newsletter
Email Title +++++++++++++++++++++++++++++++++++++++++*/

.form-inline .form-group label {
  align-self: start;
  font-size: 1rem;
  font-style: oblique 10deg;
  padding-left: 0.5em;
  padding-right: 0.5em;
  position:relative;
  right: 90px;
  transform: translate(0.5rem,-50%);
  width: -webkit-max-content;
  width: max-content;
}

label {
  cursor: default;
}


/*===========================================Newsletter Sign Up textbox =============++++*/

.form-inline .form-group > * {
  grid-area: group;
}

.form-group input {
  min-height: 35px;
}

.form-group input, .form-group textarea {
  --outline-color: var(--color-primary);
  background-color: var(--color-background-alt);
  border: 3.5px solid;
  border-radius: 10px;
  color: var(--color-on-background);
  font:icon;
  padding: 0 0.5em;
  width: 100%;
}

a:not(.demo *), button:not(.demo *), input:not(.demo *), textarea:not(.demo *) {
  --outline-size: max(2px,0.08em);
  --outline-style: solid;
  --outline-color: currentColor;
}

.form-inline .form-group {
  --modifier: calc(30ch - 100%);
  flex-basis: calc(var(--modifier)*999);
  flex-grow: 1;
  grid-template-areas: "group";
}
.form-group label {
  font-size: 1rem;
  font-kerning: auto;
  line-height: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.from-group label:hover{
  opacity: 0.5;
}
/*===========================================Newsletter Sign Up Button =============++++*/


.form-group+.button, .form-group+.form-group {
  margin-top: 1rem;
}
.button {
  --button-background: #2b63e2;
  --button-color: #76ffd8;
  --outline-color: transparent;
  align-items: center;
  background-color: var(--button-background);
  border: 2px solid #501debe0;
  border-radius: 0.5em;
  color: var(--button-color);
  cursor: pointer;
  font-family: var(--brand-font-alt);
  font-weight: var(--brand-font-alt-weight-bold);
  gap: 0.5em;
  justify-content: center;
  line-height: calc(4px + 2ex);
  min-width: 10ch;
  padding: 0.55em 0.75em 0.5em;
  text-align: center;
  text-decoration: none;
  transition: none .18s ease-in-out;
  transition-property: background-color,color,border-color;
}
button, input, select, textarea {
  font: inherit;
}
button:hover{
  opacity: 0.5;
}


/* ++++++++++++++++++++ ABOUT US TEXT SUMMARY +++++++++++++++++++++++++++++++*/


.AboutUs{
    align-items: center;
    text-align: center;
}
h2{
  text-align: left;
  padding-left: 55px;
  font-size: 2pc;
  text-shadow: 2px 2px white;

}

.Article::backdrop{
 position: absolute;
 top:345px;
 bottom: 370px;
 right: 250px;
 left: 250px;
 text-shadow: 2px 2px darkgray;
 border: 2px dotted black;
 border-radius: 6px;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 3.15rem;
}

p{
  background-color: #000;
  color: white;
  padding: 10px;
  border: 4px solid white;
  border-radius: 5px;
  font-family: 'Courier New';
  font-size: 25px;
  margin-top: 1.5rem;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 3rem;

}


/*+++++++++++++++++++++++++++++++++++++++Our Vision ============================*/

.images:hover{
  content: '';
  zoom:1;
}


























/* ++++++++++++++++++++ RESPONSIVE +++++++++++++++++++++++++++++++*/

@media screen and (min-width:821px) {

   
    header{
        background: transparent;
        color: #000000;
        font-family: 'Xanh Mono';
        font-size: 25px;
        text-align: center;
        padding: 15px;
      }
    body {
        background: linear-gradient(-45deg, #f01809, #e50f0f, #bff10b, #46f312);
        background-size: 400% 400%;
         animation: gradient 15s cubic-bezier(0.38, 0.32, 0.76, 0.78) infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }

    }
   

    .row:after {
      content: "";
      display: table;
      clear: both;
      background-color: #222;
    } 
    .Logo2 {
        height:60px;
        width: 60px;
        border-radius: 10px;
        margin: 11px;
        float: left;
        border: solid 2px darkgray;
        animation-name: rotate;
        animation-duration: 0.7s;
        animation-iteration-count: 1;
        animation-play-state: paused;
      }
      
      .Logo2:hover {
        animation-play-state: running;
      }
      
      @keyframes rotate {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }

    .Banner2 {
      background-color: #0c0c0cf2;
        padding: 10px;
        background-size: cover;
        background-position: center;
    }
    .navbar2 {
      padding: 5px;
      font-size: 23px;
      text-shadow: 3px 2px #9bb7d4;
      align-items: center;
    }
      .navbar2 ul li {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
    
    .navbar2 ul li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    
    .navbar2 ul li::after {
        content: '';
        height: 3px;
        width: 0;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    
    .navbar2 ul li:hover::after {
        width: 100%;
    }
 
/*+++++++++++++++++++++++++++++ lUNCH MEETING IMAGE++++++++++++++++++++++++++++++*/
  


   
  
/*+++++++++++++++++++++++ FOOTER / CONTACT INFO +++++++++++++++++*/
  footer {
    background: #343434;
    color: #e9f8c0;
    }
    .contact-list-wrap {
      list-style-type: none;
      padding: 0;
      display: flex;
      text-shadow: 2px 2px black;
      }
      ul{
        list-style-type: none;
      }
      li{
        list-style-type: none;
      }
      .contact-list a {
        list-style-type: none;
        padding: 5px;
        display: inline-block;
        }
  /* =================================== CopyRight Reserve+++++++++++++++++++++++++++++++++++++++++++++*/

  .siteFooterBar {
    bottom: 0;
    padding-top: 10px;
    margin-top: 7rem;
    width: 100%;
    box-shadow: 0px 0px 25px rgb(207, 207, 207);
    height: 78px;
    color: #9B9B9B;
    background: #F3F3F3;
}

   .content {
    display: block;
    padding: 10px;
    margin: auto;
    text-align: center;
    font: 25px Georgia;
    font-size: 14px;
    width: 280px;
    
  }
    .foot {
    display:inline;
        line-height: 70px;
    }
    .content img {
    height: 55px;
    width: 55px;
    float: left;
    border-radius: 47px 47px 40px 40px;
    } 


  /*++++++++++++++++++++++++++++++++++++++++++++++++++Contact Us ++++++++++++++++++++++++++++++++++++*/



  .contactBlock.infoBlock{
    position: static;
    height: 100%;
    list-style-type: none;
    }
  

  
  .contactBlock {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.contactBlock {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  _height: 15px;
  vertical-align: top;
  height: 100%;
  width: 33.33%;
  font-size: 0;
}
  .contactBlock.inforBlock.infoWrap.title{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 500px;
    padding: 0 50px;
    margin:  auto;
    height: 270px;
    list-style-type: none;
  }

  .contactBlock {
    width: 100%;
    height: auto;
    display: block;
    zoom: 1;
    vertical-align: top;
  }
  /*+++++++++++++++++++++++++++++++++++++++++++++++++
  Contact Us From the Top +++++++++++++++++++++++++++*/
  
  .contactBlock .infoWrap {
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 500px;
    height: 270px;
    padding: 0 50px;
}


.contactBlock.infoBlock {
  position: relative;
  color: #000;
  margin-top: 1.5rem;
  background: white;
  font-size: 30px;
    font-style: oblique;
}

.contactBlock.infoBlock .title {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 45px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 500 !important;
  letter-spacing: 0.01em;
  box-sizing: border-box;
}


* {
-webkit-tap-highlight-color: transparent;
text-align:center;
}

/*+++++++++++++++++++++++++++++++++++++++++ Telephone Logos +++++++++++++++++++++++++*/

.contactBlock.infoBlock ul li.phone:before {
background: url(../Images_1/contact_call.svg) no-repeat center;
background-size: contain;
width: 22px;
height: 22px;
list-style-type: none;
}
.contactBlock.infoBlock ul li:before {
content: '';
vertical-align: middle;
display: inline-block;
list-style-type: none;
margin-right: 15px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++
@ Logo For Email +++++++++++++++++++++++++++++++*/


.contactBlock.infoBlock ul li.mail:before {
background: url(../Images_1/contact_mail.svg) no-repeat center;
background-size: contain;
width: 30px;
list-style-type: none;
height: 30px;
}

.contactBlock.infoBlock ul li:before {
content: '';
list-style-type: none;
vertical-align: middle;
display: inline-block;
margin-right: 15px;
}

/* ++++++++++++++++++++ Location and Address +++++++++++++++++++++++++++++++*/

.contactBlock.infoBlock ul li.adr:before {
content: '';
background: url(../Images_1/contact_location.svg) no-repeat center;
background-size: contain;
list-style-type: none;
width: 21px;
height: 27px;
}
.contactBlock.infoBlock ul li:before {
content: '';
list-style-type: none;
vertical-align: middle;
display: inline-block;
margin-right: 15px;
}

.contantBlock.infoBlock{
position: relative;
    font-size: 18px;
    color: #000;
    font-family: sans-serif;
  }

  /*++================================PITCHBLOCK++++++++++++++++++++++==*/

.contactBlock.pitchBlock { 
  background:white;
 }
 
 .contactBlock{
  width:100%;
  height: auto;
  display: block;
  position: relative;
  zoom: 1;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

div{
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.contactBlock.pitchBlock .text input {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
a, input {
  color: #fff;
  text-decoration: none;
  outline: none;
}


 .contactWrap .contactBlock {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  _height: 15px;
  vertical-align: top;
  height: 100%;
  width: 33.33%;
  font-size: 0;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++
THE NAME INPUT TEXT ++++++++++++++++++++++++++++++++++++++++++*/

.contactBlock.pitchBlock .text .cFormInput[data-target="contactNameInpt"]:after {
  opacity: 1;
  text-decoration: dashed;
}

.contactBlock.pitchBlock .text .cFormInput[data-target="contactNameInpt"]{
  content: 'your name';

}


.contactBlock.pitchBlock .text .cFormInput:after {
  position: absolute;
  left: 0;
  font-size: 14px;
  color: #54bd80;
  font-family: "Montserrat", sans-serif;
  transition: all ease .3s;

}
.contactBlock.pitchBlock .text .cFormInput.typing[data-target="contactNameInpt"] {
  min-width: 10px;
}

.contactBlock.pitchBlock .text .cFormInput[data-target="contactNameInpt"] {
  min-width: 75px;
}

.contactBlock.pitchBlock .text {
  margin-top: 25px;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.contactWrap .contactBlock {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  _height: 15px;
  vertical-align: top;
  height: 100%;
  width: 33.33%;
  font-size: 0;
}


/*____________________________________________________________ Input Text For Email address++++++++++++++++++=+=====*/

.contactBlock.pitchBlock .text .cFormInput[data-target="contactMailInpt"]:after {
  opacity: 0;
}

.contactBlock.pitchBlock .text .cFormInput[data-target="contactMailInpt"]:after {
  content: 'your e-mail';
}

.contactBlock.pitchBlock .text .cFormInput.typing[data-target="contactMailInpt"]{
  min-width: 10px;
}

.contactBlock.pitchBlock .text .cFormInput[data-target="contactMailInpt"] {
  min-width: 80px;
}


/*=========================================================
text project for Input box ==================================*/

.contactBlock.pitchBlock .text .cFormInput[data-target="contactProjectInpt"]::after {
  opacity: 0;
  }

.contactBlock.pitchBlock .text .cFormInput[data-target="contactProjectInpt"]:after {
  content: 'this subject';
}

.contactBlock.pitchBlock .text .cFormInput.typing[data-target="contactProjectInpt"] {
  min-width: 10px;
}

.contactBlock.pitchBlock .text .cFormInput[data-target="contactProjectInpt"] {
  min-width: 85px;
}


/*=========================================================
text Style for Input box ==================================*/

.contactBlock.pitchBlock .text .cFormInput {
  display: inline-block;
  position: relative;
  max-width: 240px;
  margin: 1.5px;
  border: 1px solid black;
  border-radius: 4px 4px 4px 4px ;
  vertical-align: top;
  font-size: 14px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  -webkit-user-modify: read-write;
  -moz-user-modify: read-write;
  user-modify: read-write;
  word-wrap: break-word;
  
  outline: none;
  white-space: wrap;
  opacity: 1;
  
}
  

}